.bg-fff {
  background: #fff;
}
.bg-faf {
  background: #fafafa;
}
.bg-e5e {
  background: #e5e5e5;
}
.bg-f0f {
  background: #f0f0f0;
}
.bg-red {
  background: #FF4444;
}
.bg-ffa {
  background:#ffa1a1;
}
.bg-ff8 {
  background:#FF8644;
}