.color-333{
  color: #333;
}
.color-666{
  color: #666;
}
.color-fff{
  color: #fff;
}
.color-c8c{
  color: #C8C9CC;
}
.color-999{
  color: #999;
}
.color-ff8{
  color: #ff8644;
}
.color-red{
  color: #ff4444;
}
.color-f9f{
  color: #f9f9f9;
}
.color-blue{
  color:#3388FF;
}