/* 10px */
.mar-t10 {
  margin-top: 10px;
}
.mar-l10 {
  margin-left: 10px;
}
.mar-r10 {
  margin-right: 10px;
}
.mar-b10 {
  margin-bottom: 10px;
}
.mar-10 {
  margin: 10px;
}
/* 20px */
.mar-t20 {
  margin-top: 20px;
}
.mar-l20 {
  margin-left: 20px;
}
.mar-r20 {
  margin-right: 20px;
}
.mar-b20 {
  margin-bottom: 20px;
}
.mar-20 {
  margin: 20px;
}
.mar-30 {
  margin: 30px;
}
.mar-40 {
  margin: 40px;
}
.mar-60 {
  margin: 60px;
}
/* 30px */
.mar-t30 {
  margin-top: 30px;
}
.mar-l30 {
  margin-left: 30px;
}
.mar-r30 {
  margin-right: 30px;
}
.mar-b30 {
  margin-bottom: 30px;
}
/* 40px */
.mar-t40 {
  margin-top: 40px;
}
.mar-l40 {
  margin-left: 40px;
}
.mar-r40 {
  margin-right: 40px;
}
.mar-b40 {
  margin-bottom: 40px;
}
/* 60px */
.mar-t60 {
  margin-top: 60px;
}
.mar-l60 {
  margin-left: 60px;
}
.mar-r60 {
  margin-right: 60px;
}
.mar-b60 {
  margin-bottom: 60px;
}
