/* 10rpx */
.mar-t10 {
  margin-top: 10rpx;
}
.mar-l10 {
  margin-left: 10rpx;
}
.mar-r10 {
  margin-right: 10rpx;
}
.mar-b10 {
  margin-bottom: 10rpx;
}
.mar-10 {
  margin: 10rpx;
}
/* 20rpx */
.mar-t20 {
  margin-top: 20rpx;
}
.mar-l20 {
  margin-left: 20rpx;
}
.mar-r20 {
  margin-right: 20rpx;
}
.mar-b20 {
  margin-bottom: 20rpx;
}
.mar-20 {
  margin: 20rpx;
}
.mar-30 {
  margin: 30rpx;
}
.mar-40 {
  margin: 40rpx;
}
.mar-60 {
  margin: 60rpx;
}
/* 30rpx */
.mar-t30 {
  margin-top: 30rpx;
}
.mar-l30 {
  margin-left: 30rpx;
}
.mar-r30 {
  margin-right: 30rpx;
}
.mar-b30 {
  margin-bottom: 30rpx;
}
/* 40rpx */
.mar-t40 {
  margin-top: 40rpx;
}
.mar-l40 {
  margin-left: 40rpx;
}
.mar-r40 {
  margin-right: 40rpx;
}
.mar-b40 {
  margin-bottom: 40rpx;
}
/* 60rpx */
.mar-t60 {
  margin-top: 60rpx;
}
.mar-l60 {
  margin-left: 60rpx;
}
.mar-r60 {
  margin-right: 60rpx;
}
.mar-b60 {
  margin-bottom: 60rpx;
}
