/* 20rpx */
.pad-t20 {
  padding-top: 20rpx;
}

.pad-l20 {
  padding-left: 20rpx;
}

.pad-r20 {
  padding-right: 20rpx;
}

.pad-b20 {
  padding-bottom: 20rpx;
}

.pad-20 {
  padding: 20rpx;
}

.pad-30 {
  padding: 30rpx;
}

.pad-40 {
  padding: 40rpx;
}

.pad-60 {
  padding: 60rpx;
}

/* 40rpx */
.pad-t40 {
  padding-top: 40rpx;
}

.pad-l40 {
  padding-left: 40rpx;
}

.pad-r40 {
  padding-right: 40rpx;
}

.pad-b40 {
  padding-bottom: 40rpx;
}

/* 60rpx */
.pad-t60 {
  padding-top: 60rpx;
}

.pad-l60 {
  padding-left: 60rpx;
}

.pad-r60 {
  padding-right: 60rpx;
}

.pad-b60 {
  padding-bottom: 60rpx;
}

/* 30rpx */
.pad-t30 {
  padding-top: 30rpx;
}

.pad-l30 {
  padding-left: 30rpx;
}

.pad-r30 {
  padding-right: 30rpx;
}

.pad-b30 {
  padding-bottom: 30rpx;
}