/* 20px */
.pad-t20 {
  padding-top: 20px;
}

.pad-l20 {
  padding-left: 20px;
}

.pad-r20 {
  padding-right: 20px;
}

.pad-b20 {
  padding-bottom: 20px;
}

.pad-20 {
  padding: 20px;
}

.pad-30 {
  padding: 30px;
}

.pad-40 {
  padding: 40px;
}

.pad-60 {
  padding: 60px;
}

/* 40px */
.pad-t40 {
  padding-top: 40px;
}

.pad-l40 {
  padding-left: 40px;
}

.pad-r40 {
  padding-right: 40px;
}

.pad-b40 {
  padding-bottom: 40px;
}

/* 60px */
.pad-t60 {
  padding-top: 60px;
}

.pad-l60 {
  padding-left: 60px;
}

.pad-r60 {
  padding-right: 60px;
}

.pad-b60 {
  padding-bottom: 60px;
}

/* 30px */
.pad-t30 {
  padding-top: 30px;
}

.pad-l30 {
  padding-left: 30px;
}

.pad-r30 {
  padding-right: 30px;
}

.pad-b30 {
  padding-bottom: 30px;
}